.backdrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  animation: backdropshow 0.4s;
}

@keyframes backdropshow {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.container {
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 350px;
  max-width: 500px;
  width: 100%;
  border-radius: 6px;
  animation: containershow 0.4s;
}

@keyframes containershow {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.innercontainer {
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.title > h1 {
  font-size: 2rem;
}
.questioncontainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 10px;
}

.questiondiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.questiondivinput {
  height: 35px;
  outline: none;
  border-radius: 6px;
  border: 0.5px solid #b3b3b3;
  padding-left: 10px;
}
.questiontypediv {
  background-color: #5167f6;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}
.questiontypediv > ol {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.questiontypediv > ol > li:nth-child(1) {
  padding-top: 0px;
  padding-bottom: 5px;
  justify-content: space-between;
  cursor: default;
}

.questiontypediv > ol > li:nth-child(1):active {
  transform: scale(1);
}

.questiontypediv > ol > li {
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9rem;
  gap: 10px;
  cursor: pointer;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
}
.questiontypediv > ol > li > img {
  width: 15px;
  height: 15px;
}
.questiontypediv > ol > li:active {
  transform: scale(0.95);
}
