.toobar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  min-height: 60px;
  border-radius: 6px;
  background-color: white;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap: wrap;
}

.toobarbtn {
  flex: 1;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}
.toobarbtn:hover {
  color: #5167f6;
}
.toobarbtn:active {
  transform: scale(0.95);
}
.toobarbtn > p {
  font-size: 0.9rem;
  font-weight: bold;
}

.toobarbtn2 {
  max-width: 200px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  background-color: #5167f6;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
}
.toobarbtn2:active {
  transform: scale(0.95);
}
