.maincontainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #5167f6;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.containerdiv {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 750px;
  min-height: 400px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  animation: an2 0.4s;
}

@keyframes an {
  from {
    opacity: 0;
    transform: translate(0px, 80px);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes an2 {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.innercontainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;

  flex: 1;
}
.innercontainer > h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

.buttonandsurveydiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.createnewbtn {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  background-color: #5167f6;
  min-height: 55px;
  gap: 5px;
  color: white;
}

.createnewbtn > div > p {
  font-size: 0.9rem;
}
.createnewbtn:active {
  transform: scale(0.95);
}

.createnewbtn:hover {
  border: 0.5px solid #b3b3b3;
  background-color: white;
  color: #5167f6;
}
.surveydiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.notfound {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.notfound > img {
  width: 200px;
  height: 200px;
}
.Loadingstyle {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.errordiv {
  display: flex;

  flex: 1;
  color: white;
  align-items: center;
  justify-content: center;
}
.errordiv > p {
  text-align: center;
}
