.maincontainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #5167f6;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  overflow-y: auto;
}
.containerdiv {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 750px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  animation: an 0.5s;
}

@keyframes an {
  from {
    opacity: 0;
    transform: translate(0px, 80px);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.innercontainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
}

.innercontainer > h1 {
  font-size: 1rem;
  font-weight: bold;
}
.createnewbtn {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid white;
  outline: none;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #5167f6;
  min-height: 55px;
  gap: 5px;
  color: white;
}
.createnewbtn:active {
  transform: scale(0.95);
}

.createnewbtn:hover {
  border: 0.5px solid #b3b3b3;
  background-color: white;
  color: #5167f6;
}
.surveyscontainer {
  display: flex;
  flex-direction: row;
  min-height: 250px;
  flex-wrap: wrap;
  gap: 15px;
}

.notfound {
  display: flex;
  flex-direction: row;
  min-height: 250px;
  align-items: center;
  justify-content: center;
}
.notfound > img {
  width: 200px;
  height: 200px;
}
