.cardcontainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 0.5px solid #b3b3b3;
  border-radius: 6px;
  height: 230px;
  max-width: 300px;
  flex: 1;
  align-items: center;
}

.headingdiv {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
  max-width: 256px;
  width: 100%;
}
.headingdiv > img {
  width: 20px;
  height: 20px;
}

.headingdiv > p {
  font-weight: bold;
  font-size: 1.2rem;
}

.imgdiv {
  display: flex;
  flex-direction: row;

  flex: 1;
  max-width: 256px;
}
.imgdiv > img {
  width: 100%;
  object-fit: contain;
}
