.container {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid #b3b3b3;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 15px;
}
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.heading > h3 {
  word-break: break-all;
  font-size: 1.2rem;
}

.heading > p {
  font-size: 0.9rem;
  font-weight: bold;
  color: #5167f6;
  cursor: pointer;
}

.answerdiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.choices {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.choices > label {
  flex: 1;
}

.longanswer {
  border: none;
  border-bottom: 0.5px solid #b3b3b3;
  height: 35px;
  outline: none;
}

.shortanswer {
  border: none;
  border-bottom: 0.5px solid #b3b3b3;
  height: 35px;
  outline: none;
  max-width: 400px;
  margin-right: 40px;
}
.hovereffect {
  cursor: pointer;
}
