.container {
  border-radius: 6px;
  background-color: #ebebeb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  word-break: break-all;
  cursor: pointer;
}

.surveyinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  flex: 1;
}

.imgdiv {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
}

.container:active {
  transform: scale(0.95);
}

.imgdiv > img {
  width: 15px;
  height: 15px;
}
.infodiv {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.infodiv > h1 {
  font-size: 1rem;
}
.infodiv > p {
  font-size: 0.8rem;
}
